form {
    background-color:white;
    width: 40%;
    height: 10%;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    padding: 10px;
    border-radius: 10px; 
}

body {
    background: linear-gradient(to right, #f857a6,#ff5858);
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    margin-top: 10%;
}

section {
    display: flex;
    justify-content: center;
}

.add {
    color:white;
    width: 90%;
    height: 30px;
    background-color: #ff1493;

}

button {
    color: #ff69b4;
    border-radius: 10px;

}

input {
    width: 90%;
    border-radius: 10px;
}

p {
    display: inline-block;
}

.done {
    float: right;
}